.first{
    margin-left: 20px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 56px;
    line-height: 63.65px;
    margin-bottom: 0px;
    width: 200px;
    margin-top: 0px;


}

.second{

    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 500;
    line-height: 49.22px;
    margin-top:0px;
    margin-left: 19px;
    width: 150px;
    margin-bottom: -10px;


}
.f2{
    color: rgba(34, 34, 34, 0.69);
    font-size: 42px;
    font-weight: 500;
    line-height: 49.22px;
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: 0px;

}
.s2{
    font-family: 'Sail',cursive;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 28px;
    margin-bottom: 0px;
    color: rgba(34, 34, 34, 0.69);



}
.f3{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color:rgba(34, 34, 34, 0.62);
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;


}
.s3{
    font-family: 'Sail',cursive;
    text-transform: uppercase;
    color:rgba(34, 34, 34, 0.62);
    font-weight: 400;
    line-height: 18.46px;
    margin-top: 0px;

    text-decoration-line: underline;
}
.f4{
    color: rgba(34, 34, 34, 0.69);
    font-size: 42px;
    font-weight: 800;
    line-height: 49px;
    margin-left: 20px;
    margin-top: 0px;
    text-decoration-line: line-through;
}
.s4{
    font-family: 'Sail',cursive;
    margin-left: 20px;
    margin-top: -45px;
    font-size: 28px;
    color: rgba(34, 34, 34, 0.69);

    text-decoration-line:line-through ;
}
.block-aqua{
    background: #55B3B9;
    padding-bottom:47.14px ;
    margin-top: 0px;



}
.block-red{
    background: #C56060;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 63.79px;
}
.block-green{
    background: #8FC091;
    margin-top: -15px;
    text-align: center;
    padding-top: 5.55px;
    padding-bottom: 82px;
}
.block-purple{
    background: #8F86AF;
    padding-bottom: 44px;
    margin-top: 10px;


}
div:nth-child(odd){
    width: 75%;

}
div:nth-child(even){
    width: 50%;

}
.block-aqua:hover{
    background:#55B3B9 ;
}
.block-red:hover{
    background:#C56060;
}
.block-green:hover{
    background:#8FC091 ;

}
.block-purple:hover{
    background:#8F86AF ;
    margin-bottom: 25px;
}
div:hover p{
    transition: 0.5s;

    margin-top: 0px;
    margin-bottom: 25px;
}
div:nth-child(even):hover p{
    transition: 0.5s;
    transform-origin: left;

    margin-bottom: 25px;
}
.block-aqua:first-child:hover p{
    transition: 0.5s;
    transform-origin: left;
    margin-top: 25px;
    margin-bottom: 25px;
}



div p:hover{
    transform: scale(2.1) !important;
}











